body {
  -webkit-touch-callout: none;
  user-select: none;
}

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  min-width: 1340px;
  height: 100%;
  min-height: 600px;
  overflow-y: hidden;
  font-family: custom-fonts, 'Microsoft Yahei', 'Microsoft Yahei UI',
    'PingFang SC', 'Source Han Sans', sans-serif !important;

  /* font: 12px '微软雅黑', 'Arial Narrow', HELVETICA;
  font-family: PingFangSC-Regular, PingFang SC, '微软雅黑'; */
  background: #fff;
  text-size-adjust: 100%;

  // @include backgroundColor('bg_o_v');
}

/* body按钮 */
/* stylelint-disable-next-line no-duplicate-selectors */
body {
  margin: 0;
}

/* 按钮默认样式 */
// button {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 0;
//   margin: 0;
//   font-size: 15px;
//   cursor: pointer;
//   background: none;
//   border: none;
//   border-radius: 2px;
// }

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

p {
  word-wrap: break-word;
}

.clearfix::after,
.clearfix::before {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {
  *zoom: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
